<div class="container">
  <div class="box-left">
    <div class="container-left">
      <div class="profile-box">
        <p>Selecione seu perfil</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" [checked]="true">Usuário</mat-radio-button>
          <mat-radio-button value="2">Jogador</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="create-box">
        <button>
          <img src="/assets/css/events/events-dash/add_task.svg">
          <span>Criar evento</span>
        </button>
        <div class="create-card-box">
          <p>Próximo evento</p>
          <div class="create-card" [style.background-image]="'url(/assets/css/events/events-find/futebol.jpg)'">
            <div class="create-card-content">
              <div>
                <p class="create-card-content-title transition">Endereço</p>
                <p class="create-card-content-info transition">Rua ABC, 123</p>
                <p class="create-card-content-title transition">Duração</p>
                <p class="create-card-content-info transition">60 minutos</p>
                <p class="create-card-content-title transition">Data</p>
                <p class="create-card-content-info transition">30/10 às 17:00</p>
                <p class="create-card-content-title transition">Preço</p>
                <p class="create-card-content-info transition">R$ 80,00 </p>
              </div>
              <div>
              </div>
            </div>
            <p class="create-card-title transition">Futebol, <br>Porto Alegre</p>
            <div class="create-card-footer">
              <div>
                <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
                <p class="transition">Cavalhada</p>
              </div>
              <div>
                <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
                <p class="transition">30/10</p>
              </div>
            </div>
          </div>
          <div class="create-card-btns">
            <button>
              <img src="/assets/css/events/events-dash/edit.svg">
              <span>Editar</span>
            </button>
            <button>
              <img src="/assets/css/events/events-dash/delete.svg">
              <span>Cancelar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-center">
    <div class="container-center">
    <div class="header-center">
      <h2>Eventos em andamento</h2>
      <p>Você tem 5 eventos em <br>andamento</p>
    </div>
    <div class="cards-center">
      <div class="center-card" [style.background-image]="'url(/assets/css/events/events-find/basquete.jpg)'">
        <div class="center-card-content">
          <div class="center-card-contents">
            <div>
            <p class="center-card-content-title transition">Endereço</p>
            <p class="center-card-content-info transition">Rua ABC, 123</p>
            <p class="center-card-content-title transition">Duração</p>
            <p class="center-card-content-info transition">60 minutos</p>
          </div>
            <div>
            <p class="center-card-content-title transition">Data</p>
            <p class="center-card-content-info transition">30/10 às 17:00</p>
            <p class="center-card-content-title transition">Preço</p>
            <p class="center-card-content-info transition">R$ 80,00 </p>
          </div>
          </div>
          <div>
          </div>
        </div>
        <div class="center-card-header">
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
            <p class="transition">Menino Deus</p>
          </div>
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
            <p class="transition">04/11</p>
          </div>
        </div>
        <p class="center-card-title transition">Basquete, <br>Porto Alegre</p>
        <div class="center-card-footer">
          <button>
            <img src="/assets/css/events/events-dash/info.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/edit.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/delete.svg">
          </button>
        </div>
      </div>

      <div class="center-card" [style.background-image]="'url(/assets/css/events/events-find/futebol.jpg)'">
        <div class="center-card-content">
          <div class="center-card-contents">
            <div>
            <p class="center-card-content-title transition">Endereço</p>
            <p class="center-card-content-info transition">Rua ABC, 123</p>
            <p class="center-card-content-title transition">Duração</p>
            <p class="center-card-content-info transition">60 minutos</p>
          </div>
            <div>
            <p class="center-card-content-title transition">Data</p>
            <p class="center-card-content-info transition">30/10 às 17:00</p>
            <p class="center-card-content-title transition">Preço</p>
            <p class="center-card-content-info transition">R$ 80,00 </p>
          </div>
          </div>
          <div>
          </div>
        </div>
        <div class="center-card-header">
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
            <p class="transition">Centro Histórico</p>
          </div>
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
            <p class="transition">20/11</p>
          </div>
        </div>
        <p class="center-card-title transition">Vôlei de Praia, <br>Porto Alegre</p>
        <div class="center-card-footer">
          <button>
            <img src="/assets/css/events/events-dash/info.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/edit.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/delete.svg">
          </button>
        </div>
      </div>

      <div class="center-card" [style.background-image]="'url(/assets/css/events/events-find/volei_praia.jpg)'">
        <div class="center-card-content">
          <div class="center-card-contents">
            <div>
            <p class="center-card-content-title transition">Endereço</p>
            <p class="center-card-content-info transition">Rua ABC, 123</p>
            <p class="center-card-content-title transition">Duração</p>
            <p class="center-card-content-info transition">60 minutos</p>
          </div>
            <div>
            <p class="center-card-content-title transition">Data</p>
            <p class="center-card-content-info transition">30/10 às 17:00</p>
            <p class="center-card-content-title transition">Preço</p>
            <p class="center-card-content-info transition">R$ 80,00 </p>
          </div>
          </div>
          <div>
          </div>
        </div>
        <div class="center-card-header">
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
            <p class="transition">Cavalhada</p>
          </div>
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
            <p class="transition">30/10</p>
          </div>
        </div>
        <p class="center-card-title transition">Vôlei de Praia, <br>Porto Alegre</p>
        <div class="center-card-footer">
          <button>
            <img src="/assets/css/events/events-dash/info.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/edit.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/delete.svg">
          </button>
        </div>
      </div>
    </div>
    <div class="paginator" id="ts--paginator">
      <div class="paginator-btns">
        <button><img src="/assets/css/events/events-dash/arrow_left.svg"><span>Anterior</span></button>
        <button class="page">3</button>
        <button><span>Próximo</span><img src="/assets/css/events/events-dash/arrow_right.svg"></button>
      </div>
    </div>
  </div>
  </div>
  <div class="box-right">

  </div>
</div>
