<div class="container">
  <div class="box-left">
    <div class="container-left">
      <div class="profile-box">
        <p>Selecione seu perfil</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" [checked]="true">Usuário</mat-radio-button>
          <mat-radio-button value="2">Jogador</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="create-box">
        <button>Criar Evento</button>
        <div class="create-card-box">
          <p>Próximo evento</p>
          <div class="create-card" [style.background-image]="'url(/assets/css/events/events-find/futebol.jpg)'">
            <div class="create-card-content">
              <div>
                <p class="create-card-content-title transition">Endereço</p>
                <p class="create-card-content-info transition">Rua ABC, 123</p>
                <p class="create-card-content-title transition">Duração</p>
                <p class="create-card-content-info transition">60 minutos</p>
                <p class="create-card-content-title transition">Data</p>
                <p class="create-card-content-info transition">30/10 às 17:00</p>
                <p class="create-card-content-title transition">Preço</p>
                <p class="create-card-content-info transition">R$ 80,00 </p>
              </div>
              <div>
                <div class="create-card-content-footer">
                  <span class="create-card-content-title transition">Jogar</span>
                  <img class="transition" src="/assets/css/events/events-find/trending_flat.svg">
                </div>
              </div>
            </div>
            <p class="create-card-title transition">Futebol, <br>Porto Alegre</p>
            <div class="create-card-footer">
              <div>
                <img class="transition" src="/assets/css/events/events-find/pin.svg">
                <p class="transition">Cavalhada</p>
              </div>
              <div>
                <img class="transition" src="/assets/css/events/events-find/schedule.svg">
                <p class="transition">30/10</p>
              </div>
            </div>
          </div>
          <div class="create-card-btns">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-center">

  </div>
  <div class="box-right">

  </div>
</div>
