<div class="container">
  <div class="box-left">
    <div class="container-left">
      <div class="profile-box">
        <p>Selecione seu perfil</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" [checked]="true">Usuário</mat-radio-button>
          <mat-radio-button value="2">Jogador</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="create-box">

      </div>
    </div>
  </div>
  <div class="box-center">

  </div>
  <div class="box-right">

  </div>
</div>
