<div class="container">
  <div class="box">
    <div class="welcome-box">
      <h2>
        Bem vindo de volta!
      </h2>
      <span>Se já possuir uma conta <br>realize o login abaixo</span>
      <button class="btn-login" routerLink="/login">Login</button>
    </div>
  </div>
  <div class="box">
    <div class="signup-box">
      <h2>Realize seu <br>cadastro</h2>
      <p>
        <mat-form-field class="field" appearance="outline">
          <mat-label class="label">Nome</mat-label>
          <input [(ngModel)]="user.name" matInput [formControl]="nameControl" required>
          <mat-icon class="icon" matSuffix>person</mat-icon>
          <mat-error *ngIf="nameControl.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="field" appearance="outline">
          <mat-label class="label">Email</mat-label>
          <input [(ngModel)]="user.email" matInput placeholder="mail@email.com" [formControl]="emailControl" required>
          <mat-icon class="icon" matSuffix>mail</mat-icon>
          <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="field field-pwd" appearance="outline">
          <mat-label class="label">Senha</mat-label>
          <input [(ngModel)]="user.password" matInput [type]="hide ? 'password' : 'text'"
            [formControl]="passwordControl" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="passwordControl.invalid">{{getErrorMessagePwd()}}</mat-error>
        </mat-form-field>
      </p>
      <button class="btn" (click)="signup()">Cadastrar</button>
    </div>
  </div>
</div>
