.container {
  display: flex;
  height: 100%;
}

.box {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
  transition: box-shadow 0.4s, -webkit-filter 0.5s, -moz-filter 0.5s, -ms-filter 0.5s, -o-filter 0.5s, filter 0.5s, width 0.4s;
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.box-left {
  background-image: url('/assets/css/home/volley_home.jpg');
}

.box-right {
  background-image: url('/assets/css/home/basket_home.jpg');
}

.box:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
  filter: grayscale(50%); /* Current draft standard */
  -webkit-filter: grayscale(50%); /* New WebKit */
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%); /* Not yet supported in Gecko, Opera or IE */
  -webkit-filter: grayscale(0.5); /* Old WebKit */

  .content {
    background: rgba( 0, 0, 0, 0.05 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
  }

  .content h3 {
    font-size: 26px;
  }

  .content p {
    font-size: 20px;
  }

  .content button {
    width: 280px;
  }
}

.box-left:hover {
    width: 60%;

    .box-right {
      width: 40%;
    }
}

.box-right:hover {
  width: 60%;

    .box-left {
      width: 40%;
    }
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-text {
  text-align: center;
  color: #FFF;
}

.content h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 24px;
  font-weight: 600;
  transition: font-size 0.4s;

}

.content p {
  font-size: 18px;
  transition: font-size 0.4s;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background: rgba( 50, 50, 50, 0.1 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.13 );
  transition: padding 0.4s, -webkit-backdrop-filter 0.2s, backdrop-filter 0.2s;
}

.content button {
  margin-top: 20px;
  color: #d9d9d9;
  font-size: 18px;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  border: 2px solid #d9d9d9;
  border-radius: 100px;
  background-color: rgba( 0, 0, 0,  0);
  transition: width 0.4s, background-color 0.3s;
  cursor: pointer;
}

.content button:hover {
  background-color: rgba( 0, 0, 0,  0.2);
}

.content button:active {
  transition: background-color 0.05s;
  background-color: rgba( 0, 0, 0,  0.4);
}
