.card {
  padding: 40px 60px;
}

.card h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #0bdc84;
}

.content-card p {
  margin: 0;
}

.subtitle-card {
  font-size: 18px;
  font-weight: 600;
}

.data-card {
  font-size: 16px;
  margin-bottom: 10px !important;
}

.cost-info {
  margin-top: 20px;
  color: #333;
  font-style: italic;
}

.title-button {
  font-size: 14px;
  font-weight: 600;
  margin-top: 25px;
}

button {
  margin-left: 10px;
}

.loader-owner {
  width: fit-content;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  color: #000;
  font-size: 17px;
  padding: 3px 0 5px 0;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader-owner:before {
  content:"Aguardando confirmação\A do jogador...";
  white-space: pre-line;
}

.loader-player {
  width: fit-content;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  color: #141414;
  font-size: 17px;
  padding: 3px 0 5px 0;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader-owner:player {
  content:"Aguardando confirmação\A do criador do evento...";
  white-space: pre-line;
}
@keyframes l2 {to{background-size: 100% 3px}}

