<!-- <form>
  <mat-form-field class="example-full-width">
    <mat-label>Bairro</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Endereço</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Escolha a data</mat-label>
    <input matInput [(ngModel)]="inputDate" [matDatepicker]="picker" formControlName="dateCtrl" required>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="margin-left">
    <mat-label>Horário</mat-label>
    <input matInput mask="Hh:m0" [showMaskTyped]="true" [(ngModel)]="inputTime" formControlName="timeCtrl"
      placeholder="Ex. 18:30" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Duração (minutos)</mat-label>
    <input matInput [(ngModel)]="inputDuration" formControlName="durationCtrl" placeholder="min. 30, max. 180"
      required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Observação</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
 -->
