<form [formGroup]="eventForm">
  <h3>Atualizar</h3>

  <mat-form-field class="full-width">
    <mat-label>ID do evento</mat-label>
    <input matInput disabled [value]="eventForm.get('id')?.value">
  </mat-form-field>

  <div>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input type="text" matInput formControlName="district" placeholder="Ex. Centro Histórico">
      <mat-error *ngIf="eventForm.get('district')?.hasError('required')">
        Insira um <span class="fw-600">bairro</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="margin-left">
      <mat-label>Endereço</mat-label>
      <input type="email" matInput formControlName="address" placeholder="Ex. Rua ABC, 123">
      <mat-error *ngIf="eventForm.get('address')?.hasError('required')">
        Insira um <span class="fw-600">endereço</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <p>Observação</p>
      <textarea matInput formControlName="observation" placeholder="Evento na quadra 1, etc..."></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Duração (minutos)</mat-label>
      <input matInput formControlName="duration" placeholder="min. 30, max. 180" required>
      <mat-error *ngIf="eventForm.get('duration')?.hasError('required')">
        Insira uma <span class="fw-600">duração</span>
      </mat-error>
      <mat-error *ngIf="eventForm.get('duration')?.hasError('min')">
        Insira uma <span class="fw-600">duração</span> maior que 30 minutos
      </mat-error>
      <mat-error *ngIf="eventForm.get('duration')?.hasError('max')">
        Insira uma <span class="fw-600">duração</span> menor que 180 minutos
      </mat-error>
    </mat-form-field>

    <mat-form-field class="margin-left">
      <mat-label>Horário</mat-label>
      <input matInput mask="Hh:m0" [showMaskTyped]="true" formControlName="time" placeholder="Ex. 18:30" required>
      <mat-error *ngIf="eventForm.get('time')?.hasError('required')">
        Insira um <span class="fw-600">horário</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Escolha a data</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="eventForm.get('date')?.hasError('required')">
        Insira uma <span class="fw-600">data</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <button (click)="update()" mat-flat-button color="primary">Salvar</button>
  </div>
</form>
