/*  Aux class */
.fw-600 {
  font-weight: 600;
}


form {
  height: 585px;
  padding: 0 30px;
}

form h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #0034c2;
}

.full-width {
  width: 100%;
}

.margin-left {
  margin-left: 10px;
}

@media only screen and (min-resolution: 1.2dppx) {
  form {
    height: 540px;
  }
}

@media only screen and (min-resolution: 1.4dppx) {
  form {
    height: 500px;
  }
}
