<form>
  <h3>Atualizar</h3>
  <div>
  <mat-form-field class="full-width">
    <mat-label>ID do evento</mat-label>
    <input matInput disabled value="{{data.id}}">
  </mat-form-field>

</div>
  <div>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input type="text" matInput [ngModel]="data.district" [formControl]="districtFormControl" placeholder="Ex. Centro Histórico">
      <mat-error *ngIf="districtFormControl.hasError('required')">
        Insira um <strong>bairro</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="margin-left">
      <mat-label>Endereço</mat-label>
      <input type="email" matInput [ngModel]="data.address" [formControl]="addressFormControl" placeholder="Ex. Rua ABC, 123">
      <mat-error *ngIf="addressFormControl.hasError('required')">
        Insira um <strong>endereço</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <p>Observação</p>
      <textarea matInput [(ngModel)]="data.observation" placeholder="Evento na quadra 1, etc...">{{ data.observation }}</textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Duração (minutos)</mat-label>
      <input matInput [(ngModel)]="data.duration" [formControl]="durationFormControl" placeholder="min. 30, max. 180"
        required>
      <mat-error *ngIf="durationFormControl.hasError('required')">
        Insira uma <strong>duração</strong>
      </mat-error>
      <mat-error
        *ngIf="durationFormControl.hasError('min') && !durationFormControl.hasError('required') && !durationFormControl.hasError('max')">
        Insira uma <strong>duração </strong>maior que 30 minutos
      </mat-error>
      <mat-error
        *ngIf="durationFormControl.hasError('max') && !durationFormControl.hasError('required') && !durationFormControl.hasError('min')">
        Insira uma <strong>duração </strong>menor que 180 minutos
      </mat-error>
    </mat-form-field>

    <mat-form-field class="margin-left">
      <mat-label>Horário</mat-label>
      <input matInput mask="Hh:m0" [showMaskTyped]="true" [(ngModel)]="formattedTime" [formControl]="timeFormControl"
        placeholder="Ex. 18:30" required>
      <mat-error *ngIf="timeFormControl.hasError('required')">
        Insira um <strong>horário</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Escolha a data</mat-label>
      <input matInput [(ngModel)]="data.startDate" [matDatepicker]="picker" [formControl]="dateFormControl" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        Insira uma <strong>data</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-flat-button color="primary">Salvar</button>
  </div>
</form>
