<nav class="main-nav">
  <div class="btn-nav" (click)="onButtonClick()"> <!-- Ação ao clicar no botão -->
    <img class="pin pin-btn" src="/assets/css/nav/fast_rewind.svg">
    <span>{{ btn_text }}</span>
  </div>
  <h1>SportHire</h1>
  <div class="ul-nav">
    <ul class="ul-nav">
     <!--  <li *ngIf="!(this.href == '/events/dash')"><a (click)="openDashPlayer()">Eventos</a></li>
      <li *ngIf="!(this.href == '/events/dash')"><span style="color: #d9d9d9; font-size: 22px;">|</span></li> -->

      <li><a href="/events/wallet">Carteira</a></li>
      <li><span style="color: #d9d9d9; font-size: 22px;">|</span></li>
      <li><span style="color: #d9d9d9; font-size: 22px;">{{ this.email }}</span></li>
    </ul>
    <img [matMenuTriggerFor]="menu" class="pin" src="/assets/css/nav/person_pin.svg">
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>manage_accounts</mat-icon>
        <span>Conta</span>
      </button>
      <button (click)="openLogoutDialog()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</nav>

<router-outlet></router-outlet>
