.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: #212121;
  border: 2px solid #333;
}

.ul-nav {
  display: flex;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.ul-nav li a:link,
.ul-nav li a:visited,
.btn-nav a:link,
.btn-nav a:visited {
  font-size: 28px;
  font-weight: 600;
  color: #d9d9d9;
  text-decoration: none;
}

.ul-nav li a:link,
.ul-nav li a:visited {
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  transition: border-bottom 0.2s;
}

.ul-nav li a:link:hover,
.ul-nav li a:visited:hover {
  border-bottom: 2px solid #012894;
}

.main-nav h1 {
  padding: 0;
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  color: #d9d9d9;
  font-size: 32px;
  font-weight: 700;
}

.btn-nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 3px solid #d9d9d9;
  border-radius: 15px;
  padding: 10px 20px;
  margin-right: 20px;
  transition: 0.3s;
}

.btn-nav:hover {
  background-color: #012894;
}

.btn-nav img {
  margin-right: 8px;
}

.pin {
  width: 40px;
  cursor: pointer;
}

.ul-nav:nth-child(1) {
  margin-left: 50px;
}

.ul-nav:nth-child(3) {
  margin-right: 40px;
}

@media only screen and (min-resolution: 1.35dppx) {
  .main-nav {
    height: 80px;
  }

  .ul-nav li a:link,
  .ul-nav li a:visited,
  .btn-nav a:link,
  .btn-nav a:visited {
    font-size: 22px;
  }

  .main-nav h1 {
    font-size: 28px;
  }

  .btn-nav {
    border: 3px solid #d9d9d9;
    padding: 5px 20px;
  }
}
