/* Auxiliary properties */
.w-100 { width: 100%; }
.h-50 { height: 50% }
.w-box { width: 85%;}

/* Section - boxes */
.boxes {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.box {
  width: 49%;
  height: 780px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

/* Boxes (box-left) */

.box-left {
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-left h3 {
  color: #4361ee;
  font-size: 140%;
}

.box-left h2 {
  font-size: 280%;
  line-break: unset;
  white-space: nowrap;
}

.header-box-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-box-left p {
  text-align: justify;
  color: #666666;
  font-size: 115%;
}

/* Boxes (box-right) */

.box-right {
  display: flex;
  flex-direction: column;
}

.header-box-right {
  background: url('/resources/css/img/about/about-image-l.jpg');
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
}

.footer-box-right {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  height: 50%;
}

.footer-box-right > div {
  flex: 40%;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}

.footer-box-right > div > p {
  color: #4361ee;
  font-size: 160%;
  font-weight: 600;
}

.footer-box-right > div > span {
  display: block;
  color: #757575;
  margin-top: 10px;
}


/* Section - Product Vision */

.products {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.product-vision {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

.product {
  background-color: #fff;
  padding: 30px 0 0 30px;
  height: 84%;
  border-radius: 20px;
}

.product-left {
  width: 29%;
  background-color: #4361ee !important;
}

.product-left > h2 {
  font-size: 200%;
  color: #FFF;
}

.product-left > h2:nth-child(2) {
  display: none;
}

.product-left > h3 {
  color: #000;
  margin-top: 10px;
  font-style: italic;
}

.product-right {
  width: 69%;
}

.product-right > p {
  font-size: 125%;
}

.product-right > p > span {
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {

  .w-box {
    width: 95%;
  }

  .box-left h2 {
    font-size: 240%;
  }
  
  .header-box-right {
    height: 40%;
  }

  .footer-box-right {
    height: 60%;
  }
}

@media only screen and (max-width: 980px) {
  .box-left h2 {
    font-size: 220%;
  }

  .product-left > h2 {
    font-size: 160%;
  }

  .product-right > p {
    font-size: 115%;
  }
}

@media only screen and (max-width: 850px) {
  .boxes {
    margin-top: 50px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
   }
   
   .box {
    width: 95%;
   }

   .box-left {
    height: 500px;
   }

   .product-left > h2 {
    font-size: 135%;
   }

   .product-left > h2:nth-child(1) {
    display: none;
   }

   .product-left > h2:nth-child(2) {
    display: block;
   }

   .product {
    padding: 30px 30px 0 30px;
  }
}

@media only screen and (max-width: 690px) {
  .product-vision {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 500px;
  }

  .product {
    width: 95%;
  }

  .product:nth-child(1) {
    height: 150px;
  }

  .product:nth-child(2) {
    height: 300px;
  }
}

@media only screen and (max-width: 525px) {
  .header-box-left > h2 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .product-right > p {
    font-size: 110%;
  }

  .footer-box-left > p {
    font-size: 110%;
  }
}