/* Aux - class */
.w-80 {
  width: 80%;
}


/* 
  Section - Header
    */
.contact-header {
  margin: 50px 0 100px 0;
  white-space: nowrap;
}

.contact-header > h2 {
  font-size: 260%;
  font-weight: 400;
}

.contact-header > h2 > span {
  font-weight: 600;
  color: #4361ee;
}

.contact-header > p {
  margin-top: 8px;
  font-size: 130%;
  color: #666;
}


/* 
  Section - Form Boxes 
    */
.form-boxes {
  display: flex;
  justify-content: space-between;
}

.form-box {
  width: 48%;
  height: 600px;
}


/* 
  Section - Form Box Left 
    */
.form-box-left > h3 {
  font-size: 180%;
  margin-bottom: 20px;
}

.form-box-left > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-div {
  display: flex;
  justify-content: space-between;
}

.form-div input {
  width: 49%;
}

.form-box-left > form input, textarea {
  height: 60px;
  border: 0;
  border-radius: 8px;
  background-color: #f8f8f8;
  padding-left: 10px;
}

.form-box-left > form textarea {
  padding-top: 15px;
  height: 200px;
  resize: none;
}

.form-box-left > form button {
  width: 95px;
  height: 43px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background-color: transparent;
  color: #535353;
  transition: background-color 0.1s;
}

.form-box-left > form button:active {
  background-color: #f7f7f7;
}


/* 
  Form Box Right - accordion
     */

.form-box-right {
  display: flex;
  justify-content: flex-end;
}

.form-box-right h2 {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  color: #4361ee;
}

.accordion {
  background-color: #f8f8f8;
  color: #666;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #e9e9e9; 
}

.accordion:after {
  content: '\02795'; 
  font-size: 12px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.accordion-last {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* 
  Section - Contact (others) 
      */

.contact h3 {
  font-size: 160%;
  text-align: center;
}

.contact-boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 32px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 280px;
  height: 330px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.contact-box img {
  width: 64px;
}

.contact-box-head {
  font-size: 150%;
  font-weight: 600;
  color: #535353;
}

.contact-box-middle {
  text-align: center;
  color: #737373;
}

.contact-box-bottom {
  color: #535353;
  font-weight: 700;
}


@media only screen and (max-width: 1600px) {

  .w-80 {
    width: 85%;
  }
  .form-box {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  
  .w-80 {
    width: 95%;
  }
}

@media only screen and (max-width: 1050px) {

  .contact-header > h2 {
    font-size: 230%;
  }

  .form-boxes {
    flex-direction: column-reverse;
    align-items: center;
  }

  .form-box {
    width: 95%;
  }

  .form-box-right {
    height: 430px;
  }

  .form-box-right, .form-box-left {
    justify-content: center;
  }

  .form-box input, .form-box textarea, .form-div {
    width: 100%;
  }

  .form-div {
    gap: 10px;
  }

  .form-box-right > div { 
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-boxes {
    width: 80%;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 0px;
  }

  .contact-box {
    width: 48%;
  }

  .contact-box-row {
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    flex-direction: row;
  }
}

@media only screen and (max-width: 700px) {

  .contact-header > h2 {
    font-size: 180%;
    width: 100%;
  }

  .contact-header {
    margin: 40px 0 60px 0;
    white-space: wrap;
    text-align: center;
  }
  
  .form-box-left {
    margin-bottom: 80px;
  }

  .form-box-left h3 {
    font-size: 150%;
  }

  .form-box-right h2 {
    margin-bottom: 20px;
    font-size: 120%;
    font-weight: 600;
    text-align: start;
    color: #4361ee;
  }
  
  .form-div {
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 620px) {

  .form-boxes {
    padding: 0 !important;
  }  
  
  .form-box-right { 
    height: 390px;
  }

  .contact-boxes {
    width: 95%;
  }

  .contact-box-row {
    flex-wrap: wrap;
  }
 
  .contact-image {
    width: 80px !important;
    height: 80px !important;
    flex-basis: 100%;
    margin-bottom: -20px;
  }
}

@media only screen and (max-width: 460px) { 
  .accordion {
    font-size: 85%;
  }

  .panel p {
    font-size: 90%;
  }

  .contact-box-row > .contact-box-bottom {
    flex-basis: 100%;
    height: 0 !important;
    text-align: center;
    margin-top: -40px;
  }

  .contact-header > p {
    font-size: 115%;
  }
}