/* Section - banner */

.title-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4361ee;
  height: 350px;
}

.title-banner h1 {
  color: #fff;
  font-weight: 500;
  font-size: 200%;
  margin: 0;
}

.title-banner span {
  font-weight: 700;
}

.title-banner img {
  width: 300px;
}

.content-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 200px;
}

.content-banner h2 {
  display: block;
  width: 100%;
  text-wrap: nowrap;
  text-align: center;
  font-size: 130%;
}

.content-banner a:link,
.content-banner a:visited {
  text-decoration: none;
  color: #333;
  padding: 15px 40px;
  border: 2px solid #4361ee;
  border-radius: 50px;
}

/* Section - carousel */

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  height: 450px;
}

.carousel-one {
  display: none;
}

.carousel-dual {
  display: none;
}

.carousel h3 {
  color: #333;
  width: 80%;
  margin: 10px 0 20px 20px;
  font-weight: 500;
}

.card-slider {
  width: 80%;
  background-color: #f1f1f1;
}

.card-slider-dual {
  width: 80%;
  background-color: #f1f1f1;
}

.card-slider-one {
  width: 80%;
  background-color: #f1f1f1;
}


.slick-prev:before {
  content: url('/resources/css/img/caret-back.svg');
}

.slick-next:before {
  content: url('/resources/css/img/caret-forward.svg');
}

/* Section - carousel (cards) */

.card {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  background-size: 110%;
  background-position: center;
  height: 300px;    
  margin: 10px;
  border-radius: 20px;
  padding-left: 30px;
  transition: background-size 0.3s, box-shadow 0.3s;
}

.card:hover {
  background-size: 115%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.card p {
  margin-top: 120px;
  color: #fff;
  font-size: 180%;
  font-weight: 600;
}

.footer-card {
  margin-top: 75px;
  display: flex;
  gap: 15px;
}

.footer-card div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-card span {
  color: #fff;
  font-size: 80%;
}

.footer-card img {
  width: 18px;
}

/* 
    Fix card image - background size - repeating
    */
@media only screen and (max-width: 1860px) {
  .card {
    background-size: 120%;
  }

  .card:hover {
    background-size: 125%;
  }
}

/* 
    Fix card image - background size - repeating
    */
@media only screen and (max-width: 1650px) {
  .card {
    background-size: cover;
  }

  .card:hover {
    background-size: cover;
  }
}

/* 
  Max-width 1180px
  */
@media only screen and (max-width: 1180px) {

  .carousel-multi {
    display: none;
  }

  .carousel-dual {
    display: flex;
  }

  .carousel-one {
    display: none;
  }
}

/* 
  Max-width 900px
  */
@media only screen and (max-width: 900px) {

  .banner img {
    display: none;
  }

  .carousel-multi {
    display: none;
  }

  .carousel-dual {
    display: none;
  }

  .carousel-one {
    display: flex;
  }

  .content-banner h2 {
    text-wrap: wrap;
  }
}