/* Default config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

.padding {
  padding: 0 90px 0 90px;
}

/* Header - Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.navbar ul:nth-child(1) {
  justify-content: flex-start;
}

.navbar ul:nth-child(3) {
  justify-content: flex-end;
}

.navbar ul li a:link,
.navbar ul li a:visited {
  text-decoration: none;
  color: #000;
}

.navbar ul, h2 {
  width: 300px;
}

.navbar h2 {
  text-align: center;
}

.navbar .lang-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
  font-size: 90%;
}

.navbar .login-nav a {
  border: 2px solid #4361ee;
  border-radius: 50px;
  padding: 8px 30px;
  font-weight: 700;
  font-size: 85%;
}


/* Footer */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  margin-top: 60px;
  background-color: #f1f1f1;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 85%;
}

.content-footer ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}

.content-footer p {
  font-weight: 400;
  font-size: 90%;
  color: #333;
}

.icons-footer {
  display: flex;
}

.icons-footer ul {
  gap: 50px;
}

.icons-footer img {
  width: 50px;
}

.content-footer a:link,
.content-footer a:visited {
  text-decoration: none;
  color: #222;
  font-size: 110%;
  font-weight: 600;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  background-color: #333;
}

.bottom-footer p {
  font-size: 80%;
  color: #d9d9d9;
}