.container {
  display: flex;
  height: calc(100% - 94px);
}

.box-left {
  width: 28%;
  background-color: #212121;
  border-bottom: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 93%;
}

.profile-box {
  width: 100%;
  height: 15%;
  background-color: #32373b;
  border-radius: 15px;
}

.profile-box p {
  margin: 17px 0 10px 25px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.profile-box mat-radio-group {
  margin: 0 0 0 25px;
}

.profile-box mat-radio-button:nth-child(2) {
  margin-left: 15px;
}

::ng-deep .mdc-form-field>label {
  font-size: 18px !important;
  color: #fff;
}

::ng-deep .mdc-radio__outer-circle {
  border-color: #d9d9d9 !important;
}

::ng-deep .mdc-radio {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.create-box {
  width: 100%;
  height: 79%;
  background-color: #32373b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-box > button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #0bdc84;
  color: #0bdc84;
  border-radius: 14px;
  padding: 12px 30px;
margin-bottom: 35px;
  transition: background-color 0.2s;
}

.create-box > button:hover {
  background-color: #0bdc8513;
}

.create-box > button > img {
  width: 32px;
}

.create-box > button > span {
    display: block;
}

.create-card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-card-box > p {
  font-size: 20px;
  color: #FFF;
}

.create-card {
  width: 350px;
  height: 350px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5), 0px 0px 69px -23px rgba(0,0,0,1);
  background-size: cover;
  border: 2px solid #222;
  border-radius: 20px;
  transition: border 0.4s, box-shadow 0.4s;
}

.create-card p {
  cursor: default;
}

.card-pin {
  width: 16px;
}

.create-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 0 35px 0;
  margin: 0 0 0 35px;
  position: absolute;
  color: rgba(0,0,0, 0);
}

.create-card-content-title {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 600;
}

.create-card-content-info {
  font-size: 16px;
  padding-bottom: 10px;
}

.create-card-content p {
  margin: 0;
}

.create-card-content-footer {
  cursor: default;
  display: flex;
  align-items: center;
  width: 95px;
  margin-top: -70px;
}

.create-card-content-footer img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  opacity: 0;
}

.create-card-title {
  margin: 150px 0 0 35px;
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  color: #FFF;
}

.create-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  width: 100%;
  margin: 100px 0 0 0;
}

.create-card-footer div {
  display: flex;
  align-items: center;
}

.create-card-footer div:nth-child(2) {
  margin-right: 25px;
}

.create-card-footer p {
  color: #FFF;
  font-size: 16px;
  margin: 0 0 0 3px;
}

.transition {
  transition: color 0.2s, opacity 0.2s;
}

.create-card:hover {
  border: 2px solid #111;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7), 0px 0px 69px -3px rgba(0,0,0,1);

  .create-card-title {
    color: rgba(0,0,0, 0);
  }

  .create-card-content {
    color: #FFF;
  }

  .create-card-content-footer {
    cursor: pointer !important;
  }

  .create-card-footer img {
    opacity: 0;
  }

  .create-card-footer p {
    color: rgba(0,0,0, 0);
  }

  .create-card-content-footer img {
    opacity: 1;
  }
}

.create-card-btns {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.create-card-btns button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 170px;
  height: 40px;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  border: 0;
  border-radius: 7px;
  transition: background-color 0.2s;
  -webkit-box-shadow: 5px 10px 16px -7px rgba(17,17,17,1);
  -moz-box-shadow: 5px 10px 16px -7px rgba(17,17,17,1);
  box-shadow: 5px 10px 16px -7px rgba(17,17,17,1);
}

.create-card-btns button:nth-child(1) {
  background-color: #0034c2;
}

.create-card-btns button:nth-child(2) {
  background-color: #c1121f;
}

.create-card-btns button:nth-child(1):hover {
  background-color: #0a3cc6;
}

.create-card-btns button:nth-child(2):hover {
  background-color: #c41b26;
}

.player-button {
  width: 100% !important;
  height: 50px !important;
  background-color: transparent !important;
  border: 1px solid #666 !important;
  border-radius: 12px !important;
  transition: background-color 0.1s !important;
}

.player-button span {
  font-size: 18px !important;
}

.player-button img {
  width: 20px;
}

.player-button:hover {
  background-color: rgba(100, 100, 100, 0.1) !important;
}

.box-center {
  width: 36%;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 93%;
}

.header-center {
  width: 85%;
  height: 15%;
}

.header-center h2 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
}

.header-center p {
  font-size: 16px;
  color: #d9d9d9;
  text-align: center;
  padding-top: 5px;
}

.header-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.header-content-inP {
  padding: 0 55px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-center mat-radio-group {
  display: flex;
  flex-direction: column;
}

.header-center mat-radio-button {
  margin-top: -8px;
}

.empty-inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 150px;
}

.empty-inProgress img {
  width: 70px;
}

.empty-inProgress h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: #d9d9d9;
}

::ng-deep .header-center .mdc-label {
  font-size: 15px !important;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

::ng-deep mat-label {
  font-size: 15px !important;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

::ng-deep .mat-mdc-select-arrow-wrapper path {
  color: #aaa;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #aaa !important;
}

::ng-deep .mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mat-form-field-error-text-color) !important;
}

::ng-deep .mdc-notched-outline__leading {
  border-color: #545454 !important;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: #545454 !important;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: #545454 !important;
}

::ng-deep .header-center .mat-mdc-select-value-text {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  color: #d9d9d9 !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 7%; /*you can tweak around with this, */
  margin-bottom: -12%; /*and this*/
}

/*you also have to adjust the label, after the above*/
::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  top: 50%;
}
::ng-deep .mdc-floating-label--float-above{
  top: 60% !important;
}

.cards-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 84%;
}

.center-card {
  width: 500px;
  height: 180px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5), 0px 0px 69px -23px rgba(0,0,0,1);
  background-size: 100%;
  background-position: center;
  border: 2px solid #222;
  border-radius: 20px;
  transition: border 0.4s, box-shadow 0.4s, background-size 0.5s;
}

.center-card p {
  cursor: default;
}

.center-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0 0 0;
}

.center-card-header div {
  display: flex;
  align-items: center;
}

.center-card-header p {
  color: #FFF;
  font-size: 16px;
  margin: 0 0 0 3px;
}

.center-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 0 35px 0;
  margin: 0 0 0 35px;
  position: absolute;
  color: rgba(0,0,0, 0);
}

.center-card-contents {
  display: flex;
  gap: 90px;
}

.center-card-content-title {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 600;
}

.center-card-content-info {
  font-size: 16px;
  padding-bottom: 10px;
}

.center-card-content p {
  margin: 0;
}

.center-card-title {
  margin: 30px 0 0 35px;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #FFF;
}

.center-card-footer {
  margin: 9px 0 0 343px;
  display: flex;
  gap: 5px;
}

.center-card-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 42px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.1s;
}

.center-card-footer button:nth-child(1) {
  background-color: #fff;
}

.center-card-footer button:nth-child(1):hover {
  background-color: #eceaea;
}

.center-card-footer button:nth-child(2) {
  background-color: #0034c2;
}

.center-card-footer button:nth-child(2):hover {
  background-color: #1045d6;
}

.center-card-footer button:nth-child(3) {
  background-color: #c1121f;
}

.center-card-footer button:nth-child(3):hover {
  background-color: #cc1f2b;
}

.center-card:hover {
  border: 2px solid #111;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7), 0px 0px 69px -3px rgba(0,0,0,1);
  background-size: 105%;

  .center-card-title {
    color: rgba(0,0,0, 0);
  }

  .center-card-content {
    color: #FFF;
  }

  .center-card-content-footer {
    cursor: pointer !important;
  }

  .center-card-header img {
    opacity: 0;
  }

  .center-card-header p {
    color: rgba(0,0,0, 0);
  }

  .center-card-content-footer img {
    opacity: 1;
  }

  .right-card-header img {
    opacity: 0;
  }

  .right-card-header p {
    color: rgba(0,0,0, 0);
  }
}

.paginatorInProgress {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paginator-btns {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.paginator-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #555;
  color: #d9d9d9;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  width: 210px;
  height: 45px;
  transition: background-color 0.1s;
  text-transform: uppercase;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  -webkit-box-shadow: 10px 10px 16px -7px rgba(17,17,17,1);
  -moz-box-shadow: 10px 10px 16px -7px rgba(17,17,17,1);
  box-shadow: 10px 10px 16px -7px rgba(17,17,17,1);
}

.paginator-btns img {
  width: 28px;
}

.page {
  width: 56px !important;
  cursor: default !important;
}

.paginator-btns button:hover {
  background-color: rgba(110, 110, 110, 0.1);
}

.paginator-btns button:active {
  background-color: rgba(150, 150, 150, 0.1);
}

.box-right{
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  width: 36%;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-Finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 150px;
}

.empty-Finished img {
  width: 70px;
}

.empty-Finished h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: #d9d9d9;
}

.finText {
  display: block;
}

.right-card {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.650), 0px 0px 69px -23px rgba(0,0,0,1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.5s ease, -webkit-filter 0.5s ease, background-size 0.5s ease;
  background-size: 100%;
}

.right-card:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  background-size: 105%;
}

.right-card-header {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  width: 100%;
  margin: 15px 0 0 0;
}

.right-card-header div {
  display: flex;
  align-items: center;
}

.right-card-header p {
  color: #FFF;
  font-size: 16px;
  margin: 0 0 0 3px;
}

.right-card-status {
  font-weight: 600;
}

.right-card-text {
  font-size: 15px !important;
}

.right-card-footer {
  margin: 0 0 0 343px;
  display: flex;
  justify-content: flex-end;
}

.paginatorFinished {
  display: flex;
  justify-content: center;
  width: 100%;
}

@property --right-grad1 {
  syntax: '<color>';
  initial-value: #000000;
  inherits: false;
}

@property --right-grad2 {
  syntax: '<color>';
  initial-value: #525252;
  inherits: false;
}

.right-card-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, var(--right-grad1), var(--right-grad2));
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 65px;
  border: 2px solid #d9d9d9;
  color: #d9d9d9;
  border-radius: 50px;
  margin-right: 25px;
  width: 120px;
  height: 40px;
  transition: --right-grad1 0.4s, --right-grad2 0.4s;
}

.right-card-footer button:hover {
  --right-grad1: #0034c2;
  --right-grad2: #c1121f;
}
/*
@media only screen and (max-width: 1720px) {
  .container {
    height: calc(100% - 84px);
  }

  .create-box > button {
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 25px;
  }

  .create-box > button > img {
    width: 26px;
  }

  .create-card {
    width: 300px;
    height: 300px;
  }

  .create-card-btns {
    width: 300px;
  }

  .create-card-btns button {
    width: 144px;
  }

}
*/

@media only screen and (min-resolution: 1.07dppx) {
  .container {
    height: calc(100% - 95px);
  }
}

@media only screen and (min-resolution: 1.20dppx) {
  .container {
    height: calc(100% - 96px);
  }

  ::ng-deep .cdk-overlay-pane {
    zoom: 1.097 !important
  }

}

@media only screen and (min-resolution: 1.40dppx) {
  .container {
    height: calc(100% - 97px);
  }

  ::ng-deep .cdk-overlay-pane {
    zoom: 1.177 !important
  }
}
