<div class="container">
  <div class="box-left">
    <div class="container-left">
      <div class="profile-box">
        <p>Selecione seu perfil</p>
        <mat-radio-group aria-label="Selecione um perfil">
          <mat-radio-button value="1" [checked]="selectedOption == 1" (click)="changeProfile(1)">Buscando</mat-radio-button>
          <mat-radio-button value="2" [checked]="selectedOption == 2" (click)="changeProfile(2)">Jogando</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="create-box">
        <div class="player-null" *ngIf="this.inProgressEvent == null && this.selectedOption == 2">
          <div>
            <img src="/assets/css/events/events-dash/sports_soccer.svg" alt="Ícone de bola de futebol">
            <img src="/assets/css/events/events-dash/sports_volleyball.svg" alt="Ícone de bola de vôlei">
            <img src="/assets/css/events/events-dash/sports_basketball.svg" alt="Ícone de bola de basquete">
          </div>
          <p>Você não tem nenhum<br>evento em andamento</p>
          <button (click)="redirectFind()">
            <img src="/assets/css/events/events-dash/search.svg" style="width: 32px;">
            <span>Buscar eventos</span>
          </button>
        </div>
        <div class="create-null" *ngIf="this.inProgressEvent == null && this.selectedOption == 1">
          <div>
            <img src="/assets/css/events/events-dash/sports_soccer.svg" alt="Ícone de bola de futebol">
            <img src="/assets/css/events/events-dash/sports_volleyball.svg" alt="Ícone de bola de vôlei">
            <img src="/assets/css/events/events-dash/sports_basketball.svg" alt="Ícone de bola de basquete">
          </div>
          <p>Clique no botão abaixo<br>para criar um evento</p>
        </div>
        <button (click)="openCreateDialog()" *ngIf="selectedOption == 1">
          <img src="/assets/css/events/events-dash/add_task.svg">
          <span>Criar evento</span>
        </button>
        <div class="create-card-box" *ngIf="this.inProgressEvent !== null">
          <p>Próximo evento</p>
          <div class="create-card" [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(this.inProgressEvent.sport) + ')'">
            <div class="create-card-header transition">
              <img class="card-pin" src="/assets/css/events/events-find/info.svg">
              <p><strong>{{ loadStatus(this.inProgressEvent) }}</strong></p>
            </div>
            <div class="create-card-content">
              <div>
                <p class="create-card-content-title transition">Endereço</p>
                <p class="create-card-content-info transition">{{ this.inProgressEvent.address }}</p>
                <p class="create-card-content-title transition">Duração</p>
                <p class="create-card-content-info transition">{{ this.inProgressEvent.duration }}</p>
                <p class="create-card-content-title transition">Data</p>
                <p class="create-card-content-info transition">{{ this.inProgressEvent.startDate | date: 'dd/MM \'às\' HH:mm' }} </p>
                <p class="create-card-content-title transition">Preço</p>
                <p class="create-card-content-info transition">R$ {{ this.inProgressEvent.cost }} </p>
              </div>
              <div>
              </div>
            </div>
            <p class="create-card-title transition">{{ loadTitle(this.inProgressEvent.sport) }}, <br>{{ this.inProgressEvent.city }}</p>
            <div class="create-card-footer">
              <div>
                <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
                <p class="transition">{{ this.inProgressEvent.district }}</p>
              </div>
              <div>
                <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
                <p class="transition">{{ this.inProgressEvent.startDate | date: 'dd/MM' }}</p>
              </div>
            </div>
          </div>
          <div class="create-card-btns">
            <button (click)="openInfoDialog(this.inProgressEvent)" style="width: 50px" *ngIf="selectedOption == 1">
              <img src="/assets/css/events/events-dash/info_gray.svg">
            </button>
            <button (click)="openEditDialog(this.inProgressEvent)" *ngIf="selectedOption == 1 && !checkEndDate(this.inProgressEvent)">
              <img src="/assets/css/events/events-dash/edit_gray.svg">
              <span>Editar</span>
            </button>
            <button (click)="openDeleteDialog(this.inProgressEvent)" *ngIf="selectedOption == 1 && !checkEndDate(this.inProgressEvent)">
              <img src="/assets/css/events/events-dash/delete_gray.svg">
              <span>Cancelar</span>
            </button>
            <button (click)="openConfirmDialog(this.inProgressEvent, 1)" style="height: 40px !important; width: 293px !important; border-radius: 7px !important;" class="player-button" *ngIf="selectedOption == 1 && checkEndDate(this.inProgressEvent)">
              <img src="/assets/css/events/events-dash/check_circle.svg">
              <span style="color:#0bdc84 !important;">Confirmar</span>
            </button>

            <button (click)="openInfoDialog(this.inProgressEvent)" class="player-info" *ngIf="selectedOption == 2">
              <img src="/assets/css/events/events-dash/info_gray.svg">
            </button>
            <button class="player-button" *ngIf="selectedOption == 2 && !checkEndDate(this.inProgressEvent)">
              <img src="/assets/css/events/events-dash/cancel.svg">
              <span style="color:#d9d9d9 !important" (click)="openQuitDialog(this.inProgressEvent, this.selectedOption)">Desistir</span>
            </button>
            <button class="player-button" (click)="openConfirmDialog(this.inProgressEvent, 2)" *ngIf="selectedOption == 2 && checkEndDate(this.inProgressEvent)">
              <img src="/assets/css/events/events-dash/check_circle.svg">
              <span style="color:#0bdc84 !important;">Confirmar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-center">
    <div class="container-center">
    <div class="header-center">
      <h2>Eventos em andamento</h2>
      <div class="header-content-inP" id="ts--headerInP">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedStatus" (selectionChange)="loadInProgressEvents()" [disabled]="selectedOption == 2 ? true : false">
            <div *ngIf="selectedOption == 1">
            <mat-option *ngFor="let s of status" [value]="s.opt">
              {{ s.name }}
            </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        <!-- <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" [checked]="true">Aberto</mat-radio-button>
          <mat-radio-button value="2">Andamento</mat-radio-button>
        </mat-radio-group> -->
        <p id="ts--headerInP_P">Você tem <strong>{{ this.inProgressLength }}</strong> eventos {{ this.selectedStatusText2 }} <br>{{ this.selectedStatusText }}</p>
      </div>

    </div>
    <div class="cards-center">
    <div class="empty-inProgress" id="ts--empty-inProgress">
      <img src="/assets/css/events/events-dash/dissatisfied.svg">
      <h3>Nenhum evento<br>em andamento</h3>
    </div>
      <div class="center-card" *ngFor="let event of displayedInProgressEvents$ | async as displayedInProgressEvents; else loading" [@fadeIn] [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(event.sport) + ')'">
        <div class="center-card-content">
          <div class="center-card-contents">
            <div>
            <p class="center-card-content-title transition">Endereço</p>
            <p class="center-card-content-info transition">{{ event.address }}</p>
            <p class="center-card-content-title transition">Duração</p>
            <p class="center-card-content-info transition"> {{ event.duration }} minutos</p>
          </div>
            <div>
            <p class="center-card-content-title transition">Data</p>
            <p class="center-card-content-info transition">{{ event.startDate | date: 'dd/MM \'às\' HH:mm' }}</p>
            <p class="center-card-content-title transition">Preço</p>
            <p class="center-card-content-info transition">R$ {{ event.cost }} </p>
          </div>
          </div>
          <div>
          </div>
        </div>
        <div class="center-card-header">
          <div style="margin-left: 35px;">
            <img class="transition card-pin" src="/assets/css/events/events-find/info.svg">
            <p class="transition left-card-text" style="font-size: 15px !important;"><strong>{{ loadStatus(event) }}</strong></p>
          </div>
          <div>
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
            <p class="transition left-card-text" style="font-size: 15px !important;">{{ event.district }}</p>
          </div>
          <div style="margin: 0 25px 0 15px;">
            <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
            <p class="transition left-card-text" style="font-size: 15px !important;">{{ event.startDate | date: 'dd/MM' }}</p>
          </div>
        </div>
        </div>
        <p class="center-card-title transition">{{ loadTitle(event.sport) }}, <br>{{ event.city }}</p>
        <div class="center-card-footer">
          <button *ngIf="selectedOption == 2" style="background-color: transparent !important; cursor: default !important;"></button>
          <button (click)="openInfoDialog(event)" style="background-color: #fff !important;">
            <img src="/assets/css/events/events-dash/info.svg">
          </button>
          <button *ngIf="selectedOption == 1 && checkEndDate(event)" (click)="openConfirmDialog(event, 1)" style="background-color: #0bdc84 !important; width: 90px !important;">
            <img src="/assets/css/events/events-dash/check_circle_black.svg">
          </button>
          <button (click)="openEditDialog(event)" *ngIf="selectedOption == 1 && !checkEndDate(event)">
            <img src="/assets/css/events/events-dash/edit.svg">
          </button>
          <button (click)="openDeleteDialog(event)" *ngIf="selectedOption == 1 && !checkEndDate(event)">
            <img src="/assets/css/events/events-dash/delete.svg">
          </button>
          <button *ngIf="selectedOption == 2 && !checkEndDate(event)" (click)="openQuitDialog(event, this.selectedOption)">
            <img src="/assets/css/events/events-dash/cancel_white.svg">
          </button>
          <button *ngIf="selectedOption == 2 && checkEndDate(event)" (click)="openConfirmDialog(event, 2)" style="background-color: #0bdc84 !important;">
            <img src="/assets/css/events/events-dash/check_circle_black.svg">
          </button>
        </div>
      </div>
    </div>
    <div class="paginatorInProgress" id="ts--inPpaginator">
      <div class="paginator-btns">
        <button (click)="previousInPPage()" [disabled]="inPcurrentPage === 0"><img src="/assets/css/events/events-dash/arrow_left.svg"><span>Anterior</span></button>
        <button class="page">{{ this.inPcurrentPage + 1 }}</button>
        <button (click)="nextInPPage()" [disabled]="(inPcurrentPage + 1) * inPitemsPerPage >= inProgressEvents.length"><span>Próximo</span><img src="/assets/css/events/events-dash/arrow_right.svg"></button>
      </div>
    </div>
  </div>
  </div>
  <div class="box-right">
    <div class="container-center">
      <div class="header-center">
        <h2>Histórico de eventos</h2>
        <p class="finText" id="ts--headerFin"><strong>{{ this.finishedEvents.length }}</strong> eventos <br>encontrados</p>
      </div>
      <div class="cards-center">
        <div class="empty-Finished" id="ts--empty-Finished">
          <img src="/assets/css/events/events-dash/neutral.svg">
          <h3>Nenhum evento<br>finalizado</h3>
        </div>

        <div class="center-card right-card" *ngFor="let event of displayedFinishedEvents" [@fadeIn] [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(event.sport) + ')'">
          <div class="center-card-content">
            <div class="center-card-contents">
              <div>
              <p class="center-card-content-title transition">Endereço</p>
              <p class="center-card-content-info transition">{{ event.address }}</p>
              <p class="center-card-content-title transition">Duração</p>
              <p class="center-card-content-info transition"> {{ event.duration }} minutos</p>
            </div>
              <div>
              <p class="center-card-content-title transition">Data</p>
              <p class="center-card-content-info transition">{{ event.startDate | date: 'dd/MM \'às\' HH:mm' }}</p>
              <p class="center-card-content-title transition">Preço</p>
              <p class="center-card-content-info transition">R$ {{ event.cost }} </p>
            </div>
            </div>
            <div>
            </div>
          </div>
          <div class="right-card-header">
            <div>
              <img class="transition card-pin" src="/assets/css/events/events-find/info.svg">
              <p class="transition right-card-status right-card-text">{{ loadStatus(event) }}</p>
            </div>
            <div style="margin-right: 30px;">
              <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
              <p class="transition right-card-text">{{ event.startDate | date: 'dd/MM' }}</p>
            </div>
          </div>
          <p class="center-card-title transition">{{ loadTitle(event.sport) }}, <br>{{ event.city }}</p>
          <div class="right-card-footer">
            <button (click)="openInfoDialog(event)">
              <img src="/assets/css/events/events-dash/info_gray.svg">
              <span>Detalhes</span>
            </button>
          </div>
        </div>
      </div>
      <div class="paginatorFinished" id="ts--finPaginator">
        <div class="paginator-btns">
          <button (click)="previousFinPage()" [disabled]="finCurrentPage === 0"><img src="/assets/css/events/events-dash/arrow_left.svg"><span>Anterior</span></button>
          <button class="page">{{ finCurrentPage + 1 }}</button>
          <button (click)="nextFinPage()" [disabled]="(finCurrentPage + 1) * finItemsPerPage >= finishedEvents.length"><span>Próximo</span><img src="/assets/css/events/events-dash/arrow_right.svg"></button>
        </div>
      </div>
    </div>
  </div>
</div>
