<div class="container">
  <div class="box-left">
    <div class="container-left">
      <div class="profile-box">
        <p>Selecione seu perfil</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" [checked]="true">Usuário</mat-radio-button>
          <mat-radio-button value="2">Jogador</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="create-box">
        <button (click)="openCreateDialog()">
          <img src="/assets/css/events/events-dash/add_task.svg">
          <span>Criar evento</span>
        </button>
        <div class="create-card-box">
          <p>Próximo evento</p>
          <div class="create-card" [style.background-image]="'url(/assets/css/events/events-find/futebol.jpg)'">
            <div class="create-card-content">
              <div>
                <p class="create-card-content-title transition">Endereço</p>
                <p class="create-card-content-info transition">Rua ABC, 123</p>
                <p class="create-card-content-title transition">Duração</p>
                <p class="create-card-content-info transition">60 minutos</p>
                <p class="create-card-content-title transition">Data</p>
                <p class="create-card-content-info transition">30/10 às 17:00</p>
                <p class="create-card-content-title transition">Preço</p>
                <p class="create-card-content-info transition">R$ 80,00 </p>
              </div>
              <div>
              </div>
            </div>
            <p class="create-card-title transition">Futebol, <br>Porto Alegre</p>
            <div class="create-card-footer">
              <div>
                <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
                <p class="transition">Cavalhada</p>
              </div>
              <div>
                <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
                <p class="transition">30/10</p>
              </div>
            </div>
          </div>
          <div class="create-card-btns">
            <button>
              <img src="/assets/css/events/events-dash/edit.svg">
              <span>Editar</span>
            </button>
            <button>
              <img src="/assets/css/events/events-dash/delete.svg">
              <span>Cancelar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-center">
    <div class="container-center">
    <div class="header-center">
      <h2>Eventos em andamento</h2>
      <div class="header-content-inP" id="ts--headerInP">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedStatus" (selectionChange)="loadInProgressEvents()">
            <mat-option *ngFor="let s of status" [value]="s.opt">
              {{ s.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" [checked]="true">Aberto</mat-radio-button>
          <mat-radio-button value="2">Andamento</mat-radio-button>
        </mat-radio-group> -->
        <p>Você tem <strong>{{ this.inProgressLength }}</strong> eventos {{ this.selectedStatusText2 }} <br>{{ this.selectedStatusText }}</p>
      </div>

    </div>
    <div class="cards-center">
    <div class="empty-inProgress" id="ts--empty-inProgress">
      <img src="/assets/css/events/events-dash/dissatisfied.svg">
      <h3>Nenhum evento<br>em andamento</h3>
    </div>
      <div class="center-card" *ngFor="let event of displayedInProgressEvents" [@fadeIn] [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(event.sport) + ')'">
        <div class="center-card-content">
          <div class="center-card-contents">
            <div>
            <p class="center-card-content-title transition">Endereço</p>
            <p class="center-card-content-info transition">{{ event.address }}</p>
            <p class="center-card-content-title transition">Duração</p>
            <p class="center-card-content-info transition"> {{ event.duration }} minutos</p>
          </div>
            <div>
            <p class="center-card-content-title transition">Data</p>
            <p class="center-card-content-info transition">{{ event.startDate | date: 'dd/MM \'às\' HH:mm' }}</p>
            <p class="center-card-content-title transition">Preço</p>
            <p class="center-card-content-info transition">R$ {{ event.cost }} </p>
          </div>
          </div>
          <div>
          </div>
        </div>
        <div class="center-card-header">
          <div style="margin-left: 35px;">
            <img class="transition card-pin" src="/assets/css/events/events-find/info.svg">
            <p class="transition left-card-text"><strong>{{ loadStatus(event.status) }}</strong></p>
          </div>
          <div>
          <div>
            <img class="transition card-pin" src="/assets/css/events/events-find/pin.svg">
            <p class="transition left-card-text">{{ event.district }}</p>
          </div>
          <div style="margin: 0 25px 0 15px;">
            <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
            <p class="transition left-card-text">{{ event.startDate | date: 'dd/MM' }}</p>
          </div>
        </div>
        </div>
        <p class="center-card-title transition">{{ loadTitle(event.sport) }}, <br>{{ event.city }}</p>
        <div class="center-card-footer">
          <button (click)="openInfoDialog(event.id, event.nameOwner, event.observation, loadTitle(event.sport), event.sport)">
            <img src="/assets/css/events/events-dash/info.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/edit.svg">
          </button>
          <button>
            <img src="/assets/css/events/events-dash/delete.svg">
          </button>
        </div>
      </div>
    </div>
    <div class="paginatorInProgress" id="ts--inPpaginator">
      <div class="paginator-btns">
        <button (click)="previousInPPage()" [disabled]="inPcurrentPage === 0"><img src="/assets/css/events/events-dash/arrow_left.svg"><span>Anterior</span></button>
        <button class="page">{{ this.inPcurrentPage + 1 }}</button>
        <button (click)="nextInPPage()" [disabled]="(inPcurrentPage + 1) * inPitemsPerPage >= inProgressEvents.length"><span>Próximo</span><img src="/assets/css/events/events-dash/arrow_right.svg"></button>
      </div>
    </div>
  </div>
  </div>
  <div class="box-right">
    <div class="container-center">
      <div class="header-center">
        <h2>Histórico de eventos</h2>
        <p class="finText" id="ts--headerFin"><strong>{{ this.finishedEvents.length }}</strong> eventos <br>encontrados</p>
      </div>
      <div class="cards-center">
        <div class="empty-Finished" id="ts--empty-Finished">
          <img src="/assets/css/events/events-dash/dissatisfied.svg">
          <h3>Nenhum evento<br>em andamento</h3>
        </div>

        <div class="center-card right-card" *ngFor="let event of displayedFinishedEvents" [@fadeIn] [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(event.sport) + ')'">
          <div class="center-card-content">
            <div class="center-card-contents">
              <div>
              <p class="center-card-content-title transition">Endereço</p>
              <p class="center-card-content-info transition">{{ event.address }}</p>
              <p class="center-card-content-title transition">Duração</p>
              <p class="center-card-content-info transition"> {{ event.duration }} minutos</p>
            </div>
              <div>
              <p class="center-card-content-title transition">Data</p>
              <p class="center-card-content-info transition">{{ event.startDate | date: 'dd/MM \'às\' HH:mm' }}</p>
              <p class="center-card-content-title transition">Preço</p>
              <p class="center-card-content-info transition">R$ {{ event.cost }} </p>
            </div>
            </div>
            <div>
            </div>
          </div>
          <div class="right-card-header">
            <div>
              <img class="transition card-pin" src="/assets/css/events/events-find/info.svg">
              <p class="transition right-card-status right-card-text">{{ loadStatus(event.status) }}</p>
            </div>
            <div style="margin-right: 30px;">
              <img class="transition card-pin" src="/assets/css/events/events-find/schedule.svg">
              <p class="transition right-card-text">{{ event.startDate | date: 'dd/MM' }}</p>
            </div>
          </div>
          <p class="center-card-title transition">{{ loadTitle(event.sport) }}, <br>{{ event.city }}</p>
          <div class="right-card-footer">
            <button>
              <img src="/assets/css/events/events-dash/info_gray.svg">
              <span>Detalhes</span>
            </button>
          </div>
        </div>
      </div>
      <div class="paginatorFinished" id="ts--finPaginator">
        <div class="paginator-btns">
          <button (click)="previousFinPage()" [disabled]="finCurrentPage === 0"><img src="/assets/css/events/events-dash/arrow_left.svg"><span>Anterior</span></button>
          <button class="page">{{ finCurrentPage + 1 }}</button>
          <button (click)="nextFinPage()" [disabled]="(finCurrentPage + 1) * finItemsPerPage >= finishedEvents.length"><span>Próximo</span><img src="/assets/css/events/events-dash/arrow_right.svg"></button>
        </div>
      </div>
    </div>
  </div>
</div>
