<div class="container">
  <div class="box-left">
    <div class="form">
      <span>Selecione as opções <br>a seguir</span>
      <div class="box-form">
        <mat-form-field class="example-full-width">
          <mat-label>Esporte</mat-label>
          <input type="text"
                 placeholder="Selecione"
                 aria-label="Esporte"
                 matInput
                 [formControl]="sportControl"
                 [matAutocomplete]="auto"
                 required>
                 <mat-error *ngIf="sportControl.invalid">{{getErrorMessageSport()}}</mat-error>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of sportFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <input type="text"
                 placeholder="Selecione"
                 aria-label="Estado"
                 matInput
                 [formControl]="stateControl"
                 [matAutocomplete]="auto1"
                 required>
                 <mat-error *ngIf="stateControl.invalid">{{getErrorMessageState()}}</mat-error>
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
            <mat-option *ngFor="let option of stateFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Cidade</mat-label>
          <input type="text"
                 placeholder="Selecione"
                 aria-label="Cidade"
                 matInput
                 [formControl]="cityControl"
                 [matAutocomplete]="auto2"
                 required>
                 <mat-error *ngIf="cityControl.invalid">{{getErrorMessageCity()}}</mat-error>
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
            <mat-option *ngFor="let option of cityFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="button-form">
        <a href="">
          <img src="/assets/css/events/events-find/play_circle.svg">
          <span>Buscar</span>
      </a>
      </div>
    </div>
  </div>
  <div class="box-right">
    <div class="cards">
      <div class="card">
        <div class="title-card">
          <span>Basquete</span>
        </div>
        <div class="content-card">
          <div class="content-card-address">
            <h3></h3>
            <span></span>
          </div>
          <div class="content-card-date">
            <h3></h3>
            <span></span>
          </div>
          <div class="price-button">
            <div class="price-button-content">

            </div>
            <button></button>
          </div>
        </div>
      </div>
    </div>
    <div class="paginator">

    </div>
  </div>
</div>
