<div class="container">
  <div class="box-left">
    <div class="form">
      <span>Selecione as opções <br>a seguir</span>
      <div class="box-form">
        <mat-form-field appearance="outline">
          <mat-label>Esporte</mat-label>
          <mat-select [(ngModel)]="selectedSport" [formControl]="sportControl">
            <mat-option *ngFor="let sport of sports" [value]="sport.opt">
              {{ sport.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sportControl.invalid && sportControl.touched">{{ getErrorMessageSport() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="selectedState" [formControl]="stateControl" (selectionChange)="cityControl.setValue(''); cityControl.markAsUntouched()">
            <mat-option *ngFor="let state of states" [value]="state.uf">
              {{ state.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="stateControl.invalid && stateControl.touched">{{ getErrorMessageState() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <mat-select [(ngModel)]="selectedCity" [formControl]="cityControl">
            <ng-container *ngFor="let city of cities">
              <mat-option *ngIf="selectedState && city.uf == selectedState" [value]="city.name">
                {{ city.name }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="cityControl.invalid && cityControl.touched">{{ getErrorMessageCity() }}</mat-error>
        </mat-form-field>
      </div>
      <div class="btns-form">
      <button class="btn-form btn-find" (click)="loadEvents()">Buscar</button>
      <button class="btn-form btn-clear" (click)="clear()">Limpar</button>
      </div>
    </div>
  </div>
  <div class="box-right">
    <span class="info-events" id="ts--info-events">Foram encontrados <strong> {{ events.length }} </strong> eventos</span>
    <div class="cards" id="ts--cards">
      <p class="empty-events" id="ts--empty-events">Você ainda não buscou nenhum evento!</p>
      <div *ngFor="let event of displayedEvents" class="card" [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(event.Sport) + ')'">
        <div class="card-content">
          <div>
            <p class="card-content-title transition">Endereço</p>
            <p class="card-content-info transition">{{ event.Address }}</p>
            <p class="card-content-title transition">Duração</p>
            <p class="card-content-info transition">{{ event.Duration }} minutos</p>
            <p class="card-content-title transition">Data</p>
            <p class="card-content-info transition">{{ event.StartDate | date: 'dd/MM \'às\' HH:mm' }}</p>
            <p class="card-content-title transition">Preço</p>
            <p class="card-content-info transition">R$ {{ event.Cost }} </p>
          </div>
          <div>
            <div class="card-content-footer">
              <span class="card-content-title transition">Jogar</span>
              <img class="transition" src="/assets/css/events/events-find/trending_flat.svg">
            </div>
          </div>
        </div>
        <p class="card-title transition">{{ loadTitle(event.Sport) }}, <br>{{ event.City }}</p>
        <div class="card-footer">
          <div>
            <img class="transition" src="/assets/css/events/events-find/pin.svg">
            <p class="transition">{{ event.District }}</p>
          </div>
          <div>
            <img class="transition" src="/assets/css/events/events-find/schedule.svg">
            <p class="transition">{{ event.StartDate | date: 'dd/MM' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="paginator" id="ts--paginator">
      <div class="paginator-btns">
        <button class="paginator-margin" (click)="previousPage()" [disabled]="currentPage === 0">Anterior</button>
        <button class="paginator-margin page"> {{this.currentPage + 1}} </button>
        <button (click)="nextPage()" [disabled]="(currentPage + 1) * itemsPerPage >= events.length">Próximo</button>
      </div>
    </div>
  </div>
</div>
