.container {
  display: flex;
  height: calc(100% - 110px);
}

.box-left {
  width: 25%;
  background-color: #0077b6;
}

.box-right {
  width: 75%;
  background-color: #000;
}

.form span {
  font-size: 20px;
  color: #FFF;
}

.button-form {
  display: flex;
}

.button-form a:link,
.button-form a:visited {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.button-form img {
  width: 120px;
}

.button-form span {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  color: #57cc99;
}

