mat-stepper {
  width: 900px;
  height: 400px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.done-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

form {
  height: 300px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.local-flex {
  display: flex;
  flex-direction: column;
}

.margin-left {
  margin-left: 10px;
}

.done-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.margin-h3 {
  margin: 15px 0 0 2px;
}

h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

@media only screen and (min-resolution: 1.11dppx) {
  * {
    zoom: 1.04 !important;
  }

  ::ng-deep .cdk-overlay-pane {
    zoom: 1.097 !important
  }
}

@media only screen and (min-resolution: 1.3dppx) {
  * {
    zoom: 1.05 !important;
  }

  ::ng-deep .cdk-overlay-pane {
    zoom: 1.177 !important
  }
}

