mat-stepper {
  width: 900px;
  height: 400px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.done-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

form {
  height: 300px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.local-flex {
  display: flex;
  flex-direction: column;
}

.margin-left {
  margin-left: 10px;
}

.done-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.margin-h3 {
  margin: 15px 0 0 2px;
}

h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

.pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 140px;
  height: 45px;
  border: 1px solid #0bdc84;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.pay-button:active {
  background-color: rgba(220, 220, 220, 0.8);
}

.pay-button span {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
}

.warn-info {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
  font-size: 12px;
  margin-left: 10px;
  color: red;
}

@media only screen and (min-resolution: 1.11dppx) {
  * {
    zoom: 1.04 !important;
  }

  ::ng-deep .cdk-overlay-pane {
    zoom: 1.097 !important
  }
}

@media only screen and (min-resolution: 1.3dppx) {
  * {
    zoom: 1.05 !important;
  }

  ::ng-deep .cdk-overlay-pane {
    zoom: 1.177 !important
  }
}

