<mat-stepper #stepper>

  <mat-step [stepControl]="sportFormGroup" errorMessage="Preencha os dados">
    <form [formGroup]="sportFormGroup">
      <ng-template matStepLabel>Dados do evento</ng-template>
      <div class="flex">
        <div>
          <h3 style="margin-left: 2px;">Selecione o esporte</h3>
          <mat-form-field>
            <mat-label><mat-icon>emoji_events</mat-icon> Esporte</mat-label>
            <mat-select [(ngModel)]="event.Sport" formControlName="sportCtrl" required>
              <mat-option *ngFor="let sport of sports" [value]="sport.opt">
                {{ sport.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-stroked-button matStepperNext>Próximo</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="locationFormGroup" errorMessage="Preencha a localização">
    <form [formGroup]="locationFormGroup">
      <ng-template matStepLabel>Localização</ng-template>
      <div class="flex">
        <div class="local-flex">
          <div>
            <h3 class="margin-h3">Preencha os dados relacionados à localização</h3>
          <mat-form-field>
            <mat-label><mat-icon>map</mat-icon> Estado</mat-label>
            <mat-select [(ngModel)]="event.Uf" formControlName="stateCtrl" required>
              <mat-option *ngFor="let state of states" [value]="state.uf">
                {{ state.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="margin-left">
            <mat-label><mat-icon>home_work</mat-icon> Cidade</mat-label>
            <mat-select [(ngModel)]="event.City" formControlName="cityCtrl" required>
              <ng-container *ngFor="let city of cities">
                <mat-option *ngIf="event.Uf && city.uf == event.Uf" [value]="city.name">
                  {{ city.name }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input [(ngModel)]="event.District" matInput formControlName="districtCtrl"
              placeholder="Ex. Centro Histórico" required>
          </mat-form-field>


          <mat-form-field class="margin-left">
            <mat-label>Endereço</mat-label>
            <input [(ngModel)]="event.Address" matInput formControlName="addressCtrl" placeholder="Ex. Rua ABC, 123"
              required>
          </mat-form-field>
        </div>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious>Voltar</button>
          <button mat-stroked-button matStepperNext class="margin-left" >Próximo</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="dateFormGroup" errorMessage="Preencha o horário">
    <form [formGroup]="dateFormGroup">
      <ng-template matStepLabel>Data e horário</ng-template>
      <div class="flex">
        <div class="local-flex">
          <div>
            <h3 class="margin-h3">Preencha os dados relacionados à data e horário</h3>
          <mat-form-field>
            <mat-label>Escolha a data</mat-label>
            <input matInput [(ngModel)]="inputDate" [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="dateCtrl" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="margin-left">
            <mat-label>Horário</mat-label>
            <input matInput mask="Hh:m0" [showMaskTyped]="true" [(ngModel)]="inputTime" formControlName="timeCtrl"
              placeholder="Ex. 18:30" required>
          </mat-form-field>
          </div>
          <div>
          <mat-form-field>
            <mat-label>Duração (minutos)</mat-label>
            <input matInput [(ngModel)]="event.Duration" (ngModelChange)="renewPaid()" formControlName="durationCtrl" placeholder="min. 30, max. 180"
              required>
          </mat-form-field>
        </div>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious>Voltar</button>
          <button mat-stroked-button matStepperNext class="margin-left" >Próximo</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Concluir</ng-template>

    <form class="done-form">
      <div class="flex">
        <div>
          <h3 class="margin-h3">Preencha a observação (opcional)</h3>
          <mat-form-field class="full-width">
            <p>Observação</p>
            <textarea matInput [(ngModel)]="event.Observation"
              placeholder="Ex. Evento na quadra 3..."></textarea>
          </mat-form-field>
          <button class="pay-button" (click)="markAsPaid()">
            <span>{{ payStatus ? 'Pago' : 'Pagamento' }}</span>
            <img [src]="payStatus ? '/assets/css/events/events-dash/check.svg' : '/assets/css/events/events-dash/payments.svg'" alt="Ícone de pagamento">
          </button>
          <span class="warn-info" *ngIf="payBalance">Saldo insuficiente!</span>
        </div>
        <div class="done-btns">
          <div>
          <button mat-stroked-button matStepperPrevious>Voltar</button>
          <button mat-stroked-button (click)="create()" color="primary" class="margin-left" [disabled]="!payStatus || sportFormGroup.invalid || locationFormGroup.invalid || dateFormGroup.invalid">Criar evento</button>
          <span class="warn-info" *ngIf="sportFormGroup.invalid || locationFormGroup.invalid || dateFormGroup.invalid">Preencha o restante!</span>
          <span class="warn-info" *ngIf="sportFormGroup.valid && locationFormGroup.valid && dateFormGroup.valid && !payStatus">Realize o pagamento!</span>
        </div>
          <button mat-button (click)="stepper.reset()">Limpar</button>
        </div>
      </div>
    </form>


  </mat-step>
</mat-stepper>
