<div class="container">
  <div class="box">
    <div class="login-box">
      <div class="login-flex">
      <h2>Faça seu login</h2>
      <div class="hint-box">
        <span class="hint hint-text">Ainda não tem uma conta?</span>
        <a class="hint hint-link" href="#">Registre-se</a>
      </div>
      <div class="input-box">
        <p>
          <mat-form-field class="field" appearance="fill">
            <mat-label class="label">Email</mat-label>
            <input matInput placeholder="mail@email.com" [formControl]="emailControl" required>
            <mat-icon class="icon" matSuffix>mail</mat-icon>
            <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="field field-pwd" appearance="fill">
            <mat-label class="label">Senha</mat-label>
            <input matInput placeholder="**********" [formControl]="passwordControl" required>
            <mat-icon class="icon" matSuffix>pin</mat-icon>
            <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
      </div>
      <div class="hint-box">
        <div>
          <input type="checkbox" name="check-logado" id="check-logado">
          <label for="check-logado" class="hint hint-text">Manter logado</label>
        </div>
        <a class="hint hint-link" href="#">Esqueceu a senha?</a>
      </div>
      <button class="btn">Login</button>
      </div>
    </div>
  </div>
  <div class="box">

  </div>
</div>
