.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #0077b6;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(1) {
  background-color: #FFF;
}

.box:nth-child(2) {
  background-image: url("/assets/img/Login.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.login-box {
  width: 465px;
  height: 565px;
  display: flex;
}

.login-flex {
  margin-top: 50px;
  width: 100%;
}

.login-box h2 {
  text-transform: uppercase;
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #0034c2;
}

.field {
  width: 100%;
  height: 80px;
}

.field-pwd {
  margin-top: -5px;
}

.label {
  font-size: 18px;
}

.hint-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.hint-link:link,
.hint-link:visited {
  color: #0077b6;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
}

.hint-text {
  color: #0077b6;
  font-size: 18px;
}

.hint {
  letter-spacing: -0.2px;
}

.icon {
  color: #83878b;
}

.btn {
  width: 100%;
  height: 65px;
  border: 0;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #0034c2;
  color: #FFF;
  transition: 0.1s;
  cursor: pointer;
}

.btn:active {
  background-color: #0b266e;
}
