.card {
  max-width: 400px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.sport-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 35px;
  height: 280px;
  width: 400px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0, .6)
}

.sport-image p {
  color: #e9e9e9;
  margin: 0;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
}

.card-data {
  font-size: 17px;
  margin-top: 3px !important;
}

mat-card-title, mat-card-subtitle, mat-card-content h3 {
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

mat-card-content h3, mat-card-content p {
  margin: 0;
}

mat-card-content h3, mat-card-subtitle {
  font-weight: 600;
}
