<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ data.nameOwner }}</mat-card-title>
    <mat-card-subtitle style="font-size: 15px !important; color: #666;">{{ data.title }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p style="font-size: 14px !important; margin-bottom: 5px; color: #777">
      <strong>ID</strong>: {{ data.id }}
    </p>
  </mat-card-content>
  <img class="sport-image" mat-card-image src="/assets/css/events/events-find/{{loadImage(data.sport)}}" alt="Foto referente ao esporte do evento">
  <mat-card-content>
    <h3 style="margin-top: 10px;">Observação</h3>
    <p style="font-size: 16px !important;">
      {{ loadObservation() }}
    </p>
    <h3 style="margin-top: 10px;" *ngIf="data.namePlayer != undefined">Nome do jogador</h3>
    <p style="font-size: 16px !important;" *ngIf="data.namePlayer != undefined">
      {{ data.namePlayer }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button style="margin: 5px 0 0 5px;" mat-raised-button color="primary" mat-dialog-close>Fechar</button>
  </mat-card-actions>
</mat-card>
