<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ data.nameOwner }}</mat-card-title>
    <mat-card-subtitle style="font-size: 15px !important; color: #666;">{{ loadTitle(data.sport) }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p style="font-size: 14px !important; margin-bottom: 5px; color: #777">
      <strong>ID</strong>: {{ data.id }}
    </p>
  </mat-card-content>
  <div class="sport-image" mat-card-image [style.background-image]="'url(/assets/css/events/events-find/' + loadImage(data.sport) + ')'" alt="Foto referente ao esporte do evento">
    <div>
    <p class="card-title">
     Jogador
    </p>
    <p class="card-data">
      {{ data.namePlayer ? data.namePlayer : 'Buscando...' }}
    </p>
  </div>
    <div>
    <p class="card-title">
      Data
    </p>
    <p class="card-data">
      {{ data.startDate | date: 'dd/MM \'às\' HH:mm' }}
    </p>
  </div>
  </div>
  <mat-card-content>
    <h3 style="margin-top: 10px;">Observação</h3>
    <p style="font-size: 16px !important;">
      {{ data.observation ? data.observation : 'Sem observação' }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button style="margin: 5px 0 0 5px;" mat-raised-button color="primary" mat-dialog-close>Fechar</button>
  </mat-card-actions>
</mat-card>
