<div class="card">
  <h3>Cancelar</h3>
  <div class="content-card">
    <p class="subtitle-card">ID do evento</p>
    <p class="data-card">{{ data.id }}</p>
    <p class="subtitle-card">Jogador</p>
    <p class="data-card">{{ data.namePlayer ? data.namePlayer : 'Sem jogador' }}</p>
    <p class="subtitle-card">Data</p>
    <p class="data-card">{{ data.startDate | date: 'dd/MM \'às\' HH:mm' }}</p>
    <p class="subtitle-card">Local</p>
    <p class="data-card">{{ data.district }} - {{ data.address }}</p>
  </div>
  <p *ngIf="data.status != 2" class="cost-info">O custo do evento será retornado<br>para sua carteira</p>
  <p *ngIf="data.status == 2" class="cost-info">O custo do evento será retornado<br>para sua carteira e o jogador<br>será notificado</p>
  <p class="title-button">Deseja cancelar o evento?</p>

  <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
  <button [tabIndex]="-1" mat-raised-button color="accent" (click)="cancel()" [disabled]="!isChecked">Cancelar</button>
</div>
